<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

{{/* Favicon – https://evilmartians.com/chronicles/how-to-favicon-in-2021-six-files-that-fit-most-needs */}}
<link rel="icon" href="/favicon.ico" sizes="32x32">
<link rel="icon" href="/icon.svg" type="image/svg+xml">
<link rel="apple-touch-icon" href="/apple-touch-icon.png">

{{- $title := cond .IsHome site.Title (printf "%s | %s" .Title site.Title) -}}
{{- $description := .Description | default site.Params.description -}}
{{- $ogType := .Params.seo.og_type | default "website" -}}
{{- $ogImage := .Params.seo.og_image | default site.Params.ogImage -}}
{{- $isNoIndex := .Params.seo.noindex | default false -}}

<title>{{ $title }}</title>
<meta name="description" content="{{ $description }}">
{{- if $isNoIndex }}
<meta name="robots" content="noindex, follow">
{{- end }}
<link rel="canonical" href="{{ .Permalink }}">

<meta property="og:title" content="{{ $title }}">
<meta property="og:description" content="{{ $description }}">
<meta property="og:type" content="{{ $ogType }}">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:image" content="{{ $ogImage | absURL }}">
<meta property="og:site_name" content="{{ site.Title }}">
<meta property="og:locale" content="en_US">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ $title }}">
<meta name="twitter:description" content="{{ $description }}">
<meta name="twitter:url" content="{{ .Permalink }}">
<meta name="twitter:image" content="{{ $ogImage | absURL }}">

{{/* Preload hints */}}
{{ partial "css-bundle.html" . }}
