@layer blocks {
    /* ── Gallery Preview ── */
    .gallery-preview__grid {
        margin-block-start: var(--space-l);
    }

    .gallery-card {
        margin: 0;
        overflow: hidden;
        /*border-radius: var(--radius-l);*/
    }

    .gallery-card img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        aspect-ratio: 3 / 2;
        transition: transform 0.3s ease;
    }

    .gallery-card a {
        display: block;
        cursor: pointer;
    }

    .gallery-card:hover img {
        transform: scale(1.05);
    }
}
